@model Food_Search_Proj.Models.Feedback_Article

@{
    ViewBag.Title = "CreateArticle";
}

<h2>CreateArticle</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" id="app">
    <h4>Feedback_Article</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Article_Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Article_Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Article_Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Article_Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Article_Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Article_Text, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Article_Photo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="File" class="form-control" v-on:change="PickFile" />
            @Html.ValidationMessageFor(model => model.Article_Photo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    <div>
        <img v-if="image" :src="image" width="200" />
    </div>
</div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                image: "",
                selected: ""
            }
        },
        methods: {
            PickFile: function (e) {
                const file = e.target.files.item(0);
                const reader = new FileReader();
                reader.addEventListener('load', this.imageLoaded);
                reader.readAsDataURL(file);
            },
            imageLoaded: function (e) {
                this.image = e.target.result;
            }

        }
    }).mount('#app')
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
