@model IEnumerable<Food_Search_Proj.Models.Combo>

@{
    Layout = "../Shared/_LayoutUser.cshtml";
    ViewBag.Title = "ShowCombo";
}

@*<h2>ShowCombo</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<style>



    .div-all {
        float: revert;
        width: 32%;
        height: 200px;
        background: white;
        margin-top: 10px;
        margin-left: 10px;
        border-style: outset;
        display: inline-block;
    }

    .div-Name {
        height: 90%;
        float: left;
    }


    .div-Date {
        height: 100%;
        float: left;
        margin-left: 10px;
        overflow: hidden;
    }

    .div-Name h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        color: dimgrey;
        font-family: DFKai-sb;
    }

    .Link {
        background-color: dimgrey;
    }
</style>



<body>
    <div class="page-section">
        <div class="container">
            <div class="row align-items-center" style="border: 4px gray dashed; padding: 3px; background-color: #fafafa; font-family: DFKai-sb">
                <div class="col-lg-3 py-2">
                    <div class="about-img " s>
                        <img src="~/img/yente.jpg" width="200">
                    </div>
                </div>
                <div class="col-lg-9 py-2">
                    <h2 style="font-family:DFKai-sb;  margin-right:4px;">
                        食譜套餐
                    </h2>
                    <br>
                    <h4>
                        準備一日三餐是許多煮婦煮夫的煩惱，每天想著要吃什麼，常常想破頭、變不出新意，讓準備三餐菜單變簡單。
                    </h4>
                </div>
            </div>
        </div>
    </div>
    @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Combo_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combo_Date)
            </th>
            <th></th>
        </tr>*@

    @foreach (var item in Model)
    {
        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Combo_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Combo_Date)
                </td>
                <td>
                    @Html.ActionLink("收藏", "CollectCombo", new { id = item.Combo_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Combo_ID }) |
                </td>
            </tr>*@

        <div class="div-all">
            <div class="row align-items-center">
                <div class="div-Name">
                    <h2 class="text-center wow fadeIn">
                        @Html.DisplayFor(modelItem => item.Combo_Name)
                    </h2>
                </div>
                <div class="div-Date">
                    @Html.DisplayNameFor(model => model.Combo_Date) :
                    @Html.DisplayFor(modelItem => item.Combo_Date)
                </div>
                <div class="col-12 mt-3" style="text-align: right">
                    @Html.ActionLink("詳細", "Details", new { id = item.Combo_ID })
                </div>
            </div>
        </div>



    }

</body>


