@model IEnumerable<Food_Search_Proj.Models.Dishes>

@{
    Layout = "../Shared/_LayoutUser.cshtml";
    ViewBag.Title = "ShowDishes";
}

@*<div class="container-fluid  text-primary py-5 text-center wow fadeIn">
        <h2>食譜料理</h2>
    </div>*@

<div class="page-section">
    <div class="container">
        <div class="row align-items-center" style="border: 4px gray dashed; padding: 6px; background-color: #fafafa; font-family: DFKai-sb">
            <div class="col-lg-3 py-2">
                <div class="about-img">
                    <img src="~/img/yente.jpg" width="200">
                </div>
            </div>
            <div class="col-lg-9 py-2">
                <h2 style="font-family:DFKai-sb;  margin-right:4px;">
                    食譜料理
                </h2>
                <br>
                <h4>
                    料理是一件很神奇的事，將大小各異、口感不同的食材攬在一起，經過一番烹煮之後完成一道美味佳餚。這之間的療癒過程只有喜歡親手做飯的人才會懂，而根據觀察，熱愛下廚的人有著許多令人喜愛的特質，其實在朋友眼裡，常親自料理的人都非常有魅力。
                </h4>
            </div>
        </div>
    </div>
</div> <!-- .page-section -->


<p style="text-align: right">
    @Html.ActionLink("＋推薦菜餚", "RecommendDishes")
    @Html.ActionLink("回饋文章", "CreateArticle")
</p>




@*<div class="col-12 mt-3" style="text-align: right">
        <a href="RecommendDishes" type="submit" class="btn btn-light" style="color:dimgrey"> + 推薦菜餚</a>
        <a href="CreateArticle" type="submit" class="btn btn-light" style="color:dimgrey">回饋文章</a>
    </div>*@

@*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Dishes_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes_Methods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes_Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes_Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes_Recommend_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food_Review_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food_Review_Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager.Manager_Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.User_Password)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dishes_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dishes_Methods)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dishes_Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dishes_Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dishes_Recommend_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food_Review_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food_Review_Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Manager_Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.User_Password)
                </td>
                <td>
                    @Html.ActionLink("收藏", "CollectDishes", new { id = item.Dishes_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Dishes_ID }) |

                </td>
            </tr>
        }

    </table>*@



@foreach (var item in Model)
{
    <div class="page-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 py-2">
                    <div class="about-img">
                        <img src="data:image/png;base64,@Convert.ToBase64String(item.Dishes_Photo)" width="200" />
                    </div>
                </div>
                <div class="col-lg-7 py-2">
                    <div>
                        <h2 style="font-family:DFKai-sb">  @Html.DisplayFor(modelItem => item.Dishes_Name)</h2>
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Dishes_Methods)
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-outline-secondary " style="color:dimgrey;font-weight: bold">
                            @Html.DisplayNameFor(model => model.Dishes_Remark)
                        </a>
                        @Html.DisplayFor(modelItem => item.Dishes_Remark)
                    </div>
                    <div style="text-align: right" class="col-12 mt-3">
                        @*<a href="CollectDishes" type="submit" class="btn btn-light" style="color:dimgrey"> + 收藏食譜</a>
                            <a href="Details" type="submit" class="btn btn-light" style="color:dimgrey"> ＊ 詳情</a>*@
                        @Html.ActionLink("收藏", "CollectDishes", new { id = item.Dishes_ID }) |
                        @Html.ActionLink("詳細", "DetailsDishes", new { id = item.Dishes_ID })


                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
}

