@model Food_Search_Proj.Models.Dishes_Contain_Food



    @using (Html.BeginCollectionItem("Dishes_Contain_Food"))
    {
<div style="border-style:double" id="app1">
    @*@ViewBag.count*@
    <div class="form-group">
        @*@Html.LabelFor(model => model.DCF_ID, "DCF_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.DCF_ID, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.count , type = "hidden" } })
            @Html.ValidationMessageFor(model => model.DCF_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("食材選單號", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DishesContainFoodName", null, new { Class = "form-control", id = @ViewBag.BeSelsectFood })
            @Html.ValidationMessageFor(model => model.DishesContainFoodName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Food_ID, "食材編號", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.Food_ID, new { htmlAttributes = new { @class = "form-control", id = @ViewBag.SelsectFood , type = "hidden" } })
            @Html.ValidationMessageFor(model => model.Food_ID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Count, "食材數量", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-10">
        <button onclick="$(this).parent().first().parent('div').remove();">刪除列</button>
    </div>
</div>
    }

<script>
    $(function () {
        $("#@ViewBag.BeSelsectFood").change(function () {
            console.log($(this).val());
            ////$("#@ViewBag.SelsectFood").text($(this).val())
            $("#@ViewBag.SelsectFood").val( Number($(this).val()) )
        });
    });
    
</script>