@model IEnumerable<Food_Search_Proj.Models.Dishes>

@{
    ViewBag.Title = "ShowNoResultDishes";
}

<h2>ShowNoResultDishes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dishes_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food_Review_Result)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Dishes_Contain_Food.Food_ID)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referral_User_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dishes_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food_Review_Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referral_User_ID)
        </td>
        <td>
            @Html.ActionLink("詳細", "Edit", new { id=item.Dishes_ID })
        </td>
    </tr>
}

</table>
